
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

.body {
    background-image: linear-gradient(to right, #7189FF, #624CAB);
}

.main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 10%;
}

.titulo {
    font-family: helvetica;
    color: #EEEEEE;
    margin-bottom: 3rem;
}

.laudo {
    width: 50%;
    resize: none;
    padding: 10px;
    outline: none;
    border-radius: 3px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.45);
    font-family: helvetica;
    font-size: 1.2rem;
}

.button {
    border: none;
    border-radius: 5px;
    background-color: #7189FF;
    color: white;
    width: 200px;
    padding: 20px;
    min-width: fit-content;
    cursor: pointer;
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 1.2rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.45);
    font-family: helvetica;
    opacity: 1;
    transition: 0.5s;
}

.button:hover {
    background-color: #A0DDFF;
    color: #000000;
}

.button.disabled:hover {
    background-color: #7189FF;
    color: white;
}

.disabled {
    cursor: initial;
    opacity: 0.4;
}
